<p>news works!</p>
<app-header #myheader></app-header>
<div #myBox>
    This news
</div>
<br>
<br>
<a [routerLink]="[ '/newcontent' ]" routerLinkActive="active">newscontent</a>
<br>
<br>
<ul>
    <li *ngFor="let item of newslist; let key = index;">
        <!-- <a href="#">{{key}}---{{item}}</a> -->
        <a [routerLink]="[ '/newscontent' ]"[queryParams]="{aid:key}">{{key}}---{{item}}</a>
    </li>
</ul>
<br>
<br>
<button (click)="getData()">get data</button>
<br>
<br>
<button (click)="doLogin()">Login</button>
<br>
<br>
<button (click)="getJsonpData()">get jsonp data</button>
<br>
<br>
<button (click)="getaxiosData()">get axios data</button>
<br>
<hr>
<br>
<ul>
    <li *ngFor="let item of list">{{item.title}}</li>
</ul>