<header class="header">
    <a [routerLink]="[ '/home' ]" routerLinkActive="active">home</a>
    <a [routerLink]="[ '/search' ]" routerLinkActive="active">search</a>
    <a [routerLink]="[ '/todolist' ]" routerLinkActive="active">todolist</a>
    <a [routerLink]="[ '/product' ]" routerLinkActive="active">product</a>    
    <a [routerLink]="[ '/transition' ]" routerLinkActive="active">transition</a>
    
    <a routerLink='/news' routerLinkActive="active">news</a>
    
</header>
<router-outlet>
</router-outlet>